<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WhoseBarcode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WhoseBarcode.Core.Forms.Settings.FormsPosition" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <WhoseBarcode.Properties.Settings>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>WhoseBarcode</value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value>DATA</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectFile" serializeAs="String">
                <value>connect.xml</value>
            </setting>
        </WhoseBarcode.Properties.Settings>
        <WhoseBarcode.Core.Forms.Settings.FormsPosition>
            <setting name="GeneralFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="GeneralFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GeneralFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </WhoseBarcode.Core.Forms.Settings.FormsPosition>
    </userSettings>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>